#root{
  width: 100%;
  font-family: 'Roboto Mono', monospace;;
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

nav{
  background-color: #000000;
}


.brand{
  font-size: 2rem;
  color: #FFFFFF;
  margin: 0 1rem;
  transition: transform, 0.4s;
 

}
.brand:hover{
  transform: scale(1.1) ;
  color: #FFFFFF;
}



.nav-link{
  color: #FFFFFF;
}
.nav-link:hover{
  color: #cccccc;
}
.nav-link:focus{
  color: #cccccc;
}

body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
}

.titulo{
  margin: 2rem;
}

.card-home{
  border: 3px solid #000000;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 6rem;
}

.product-title{
  margin: 2rem 0;
}

.images{
  width: 40%;
  margin: 3rem 0;
  border-radius: 7%;
  border: solid;
}

h1{
  margin: 1.5 rem;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 2rem;
} 


.info-product-galeria{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.img-galeria{
  max-width: 100%; 
  height: auto; 
}

.galeria-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

.category-button{
  background-color: #000000;
  color: #FFFFFF;
  transition: transform, 0.4s;
}
.category-button:hover{
  transform: scale(1.1);
  border: none;
}
.category-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  list-style: none;
}

.list-item{
  margin: 3rem;
  font-size: 1.5rem;
  
}

.nav-item{ 
  margin: 0.5rem 1rem;
  transition: transform, 0.4s;
}
.nav-item:hover{
  transform: scale(1.1);
}

.counter-container{
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.card-contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.card-home{
  transition: transform 0.4s;
}
.card-home:hover{
  transform: scale(1.2);
}

.cartItem-container{
  display: flex;
  flex-direction: row; 
  padding: 1rem;
  margin: 1rem; 
  align-items: center;
  
}

.cart-icon{
  transition: transform 0.4s;
}
.cart-icon:hover{
  transform: scale(1.2);
}

.description{
  font-size: 1.5rem;
  margin: 4rem;
}

.price{
  font-size: 3rem;
  margin: 1rem 0;
}

.cartProduct-container{
  display: flex;
  flex-direction: column;
}

.add-to-cart{
  background-color: #000000;
  color: #FFFFFF;
  padding: 1rem;
  transition: transform 0.2s;
  
}


.add-to-cart:hover{
  border: none
}

.add-to-cart:active{
  transform: scale(0.9) ;
}
.counter{
  background-color: #000000;
  margin: 1rem;
  border: 1px solid #000000;
  border-radius: 100%;
  color: #FFFFFF;
  transition: transform 0.2s;;
  
}
.counter:hover{
  border: none;
}

.counter:active{
  transform: scale(0.9);
}

.count{
  font-size: 1.3rem;
}

.button-clear-cart, .button-pay, .button-back-menu, .button-back-menu {
  background-color: #000000;
  color: #FFFFFF;
  padding: 1rem;
  transition: transform 0.4s;
  margin: 1rem;
}

.button-pay a, .button-back-menu a{

  color:#FFFFFF;
}

.button-clear-cart:hover, .button-pay:hover, .button-back-menu:hover {
  transform: scale(1.1) ;
  border: none;

  
}

.button-pay a:hover, .button-back-menu a:hover{

  color:#FFFFFF;
}


.noProduct-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.cartItem-container{
  
  margin: 3rem;
}

.cart-item{
  margin: 1rem 2rem;
  font-size: 1.5rem;
}

.total-price{
  margin: 3rem 6rem;
  font-size: 1.5rem;
  
}

.button-delete-cart-item{
  border-radius: 100%;
  background-color: #000000;
  color: #FFFFFF;
  transition: transform 0.4s;
  justify-self: flex-end;
 
}
.button-delete-cart-item:hover{
  border: none;
}



.buttons-cart{
  margin: 0 4.5rem;
}

.footer{
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.footer-icon{
  margin: 1.5rem 1rem;
  transition: transform 0.4s;
}

.footer-icon:hover{
  transform: scale(1.1) ;
}

  
